.background {
  position: relative;
}

.cor-input{
  color: #000;
}

.image-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


ion-content {
  --background: #ffffff;

  #header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 150px;

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 15px;
      margin-left: 100px;
    }

    h1 {
      font-size: 26px;
      color: #010100;
      margin-bottom: 15px;
      margin-left: 200px;
    }

    #form {
      width: 35%;

      ion-input {
        input {
          font-size: 18px;
        }

        label {
          font-size: 16px;
        }
      }

      ion-button {
        margin-top: 20px;
        height: 60px;
        width: 100px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50%;
        --box-shadow: none;
      }

      .esqueceu-link {
        position: relative;
        margin-top: 40px;
        left: 350px;
        font-size: 16px;
      }
    }

    .register-link {
      position: relative;
      margin-top: 130px;
      margin-left: 140px;
      font-size: 16px;
    }
  }

}


@media (min-width: 1810px) {
  .esqueceu-link {

    left: 0;
  }

}


@media (max-width: 767px) {
  ion-content #header {
    align-items: center;
    margin-left: 0;
    margin-top: 120px;
  }

  ion-content #header #form {
    width: 80%;
  }


  ion-content #header img,
  ion-content #header h1 {
    margin-left: 0;
  }


  .image-right {
    display: none;
  }

  .esqueceu-link {
    margin-left: -260px;
    margin-top: 100px;

  }

  .register-link {
    position: relative;
    right: 65px;
    text-align: center;
  }

}
