<ion-content [fullscreen]="true" class="background">
  <div id="header">
    <img src="../../assets/icon/logo_1.png"/>
    <h1>CyberWatch</h1>

    <form id="form">
      <ion-input class="cor-input" [(ngModel)]="userData.username" name="username" placeholder="Username"
                 color="black">
        <img src="../../assets/icon/perfil.png" color="primary" slot="end" width="25px" height="25px"
             class="pefil_username">
      </ion-input>
      <ion-input color="black"  class="cor-input cor-embaixo-input"  name="senha" type="password"
                 [(ngModel)]="userData.senha" placeholder="Senha">
      </ion-input>
      <ion-button (click)="logar()" color="primary">Entrar</ion-button>
      <a routerLink="/esqueceu-senha" class="esqueceu-link"> Esqueceu a senha?</a>
    </form>

    <a routerLink="/register" class="register-link"> Quer se juntar a nós? <strong>&nbsp;Criar conta</strong></a>
  </div>

  <img src="../../assets/icon/image_1.png" class="image-right">
</ion-content>
