<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title class="dashboard-title" style="text-align: center; margin-left: 100px;">Denuncia</ion-title>

    <ion-buttons slot="end" style="margin-right: 20px;">
      <ion-item routerLink="/dashboard" routerDirection="root" [routerLinkActive]="'active'"  style="margin-right: 32px;">Monitoramento</ion-item>
        <ion-item routerLink="/denuncia" routerDirection="root" [routerLinkActive]="'active'" >Denuncia</ion-item>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <div class="login-wrapper">
    <div class="login-form">

      <div class="div-ocorrido">
        <span class="label-ocorrido">Data do Incidente</span>
        <ion-datetime-button color="secondary" datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime class="data-input" id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>

      <ion-input class="input-color-new" label="Genero" labelPlacement="floating" color="warning" fill="outline"
                 [(ngModel)]="denunciaData.genero"></ion-input>
                
      <ion-input class="input-color-new" label="Estado" labelPlacement="floating" color="warning" fill="outline"
                 [(ngModel)]="denunciaData.estado"></ion-input>

      <ion-input class="input-color-new" label="Tipo de Bullying" labelPlacement="floating" color="warning"
                 fill="outline"
                 [(ngModel)]="denunciaData.tipoDeBullying"></ion-input>

      <ion-input class="input-color-new" label="Relator" labelPlacement="floating" color="warning" fill="outline"
                 [(ngModel)]="denunciaData.relator"></ion-input>

      <ion-input class="input-color-new" label="Local do Ocorrido" labelPlacement="floating" color="warning"
                 fill="outline"
                 [(ngModel)]="denunciaData.localDoOcorrido"></ion-input>

      <ion-input class="input-color-new" label="Telefone" labelPlacement="floating" color="warning" fill="outline"
                 [(ngModel)]="denunciaData.telefone"></ion-input>

      <ion-input class="input-color-new" label="Email" labelPlacement="floating" color="warning" fill="outline"
                 [(ngModel)]="denunciaData.email"></ion-input>

      <ion-input class="input-color-new" label="Nome da Vitima" labelPlacement="floating" color="warning" fill="outline"
                 [(ngModel)]="denunciaData.nomeDaVitima"></ion-input>


    </div>
    <ion-textarea color="warning" fill="outline" class="input-relato" label="Relato"
                  [(ngModel)]="denunciaData.relato" labelPlacement="floating"></ion-textarea>
  </div>

  <div class="btn-cadastro">
    <ion-button id="present-alert" color="secondary">Cadastrar Denúncia</ion-button>
    <ion-alert trigger="present-alert" class="custom-alert" header="Você tem certeza?"
               [buttons]="alertButtons"></ion-alert>
  </div>
</ion-content>

