<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro de Denúncia</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <div class="login-wrapper">
    <div class="login-form">

      <div class="div-ocorrido">
        <span class="label-ocorrido">Data do Incidente</span>
        <ion-datetime-button color="secondary" datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime class="data-input" id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>

      <!--Pode ser um dropdown-->
      <ion-input class="input-color-new" label="Genero" label-placement="floating" fill="outline"
                 placeholder="Enter text"></ion-input>
      <!--Pode ser um dropdown-->
      <ion-input class="input-color-new" label="Estado" label-placement="floating" fill="outline"
                 placeholder="Enter text"></ion-input>
      <!--Pode ser um dropdown-->
      <ion-input class="input-color-new" label="Tipo de Bullying" label-placement="floating" fill="outline"
                 placeholder="Enter text"></ion-input>
      <!--Pode ser um dropdown-->
      <ion-input class="input-color-new" label="Relator" label-placement="floating" fill="outline"
                 placeholder="Enter text"></ion-input>
      <!--Pode ser um dropdown-->
      <ion-input class="input-color-new" label="Local do Ocorrido" label-placement="floating" fill="outline"
                 placeholder="Enter text"></ion-input>

      <ion-input class="input-color-new" label="Telefone" label-placement="floating" fill="outline"
                 placeholder="Enter text"></ion-input>
      <ion-input class="input-color-new" label="Email" label-placement="floating" fill="outline"
                 placeholder="Enter text"></ion-input>
      <ion-input class="input-color-new" label="Nome da Vitima" label-placement="floating" fill="outline"
                 placeholder="Enter text"></ion-input>

    </div>
    <ion-textarea fill="outline" class="input-relato" label="Relato" labelPlacement="floating"></ion-textarea>
  </div>

  <div class="btn-cadastro">
    <ion-button color="secondary">Cadastrar Denúncia</ion-button>
  </div>
</ion-content>

