:root {
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
  
    /* Adicione outras cores padrão aqui */
  }
  
  body.dark {
    --ion-color-primary: #222428;
    --ion-color-primary-rgb: 34, 36, 40;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1e2023;
    --ion-color-primary-tint: #383a3e;
  
    --ion-color-secondary: #92949c;
    --ion-color-secondary-rgb: 146, 148, 156;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #808289;
    --ion-color-secondary-tint: #9d9fa6;
  
    /* Adicione outras cores de modo escuro aqui */
  
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
  }
  