<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="./assets/avatar-perfil.png" alt="" />
        <ion-label class="nome-rogeria">
          <h2>Rogéria</h2>
        </ion-label>
      </div>
      <ion-list class="menu-items" lines="none">
        <ion-item routerLink="/dashboard" routerDirection="root" [routerLinkActive]="'active'">
          <ion-icon name="pie-chart-outline"></ion-icon>DashBoard
        </ion-item>
        <ion-item routerLink="/denuncia" routerDirection="root" [routerLinkActive]="'active'">
          <ion-icon class="profile-icon" name="person-circle"></ion-icon>Realizar Denúncia
        </ion-item>
        <!--Ainda nao foi criado essa Tela-->
        <ion-item routerLink="/localizacao" routerDirection="root" [routerLinkActive]="'active'">
          <ion-icon class="location-icon" name="location"></ion-icon>Localização
        </ion-item>
        <!--Colocar o logout ao usurio determinado logar-->
        <ion-item class="sair-icon" (click)="logout()" [routerLinkActive]="'active'">
          <ion-icon name="exit-outline"></ion-icon>Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
