<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-title class="dashboard-title" style="text-align: center;">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-grid>
    <!-- Seletor de Instituição -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Selecione um Bloco Uninassau</ion-label>
          <ion-select [(ngModel)]="selectedState" (ionChange)="onSelectState($event.target.value)">
            <ion-select-option value="Todos">Todos</ion-select-option>
            <ion-select-option value="Bloco A">Bloco A</ion-select-option>
            <ion-select-option value="Bloco B">Bloco B</ion-select-option>
            <ion-select-option value="Bloco C">Bloco C</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Cartões -->
    <ion-grid>
      <!-- Cartões -->
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-lg="3"  size-md="6" size-xs="12">
          <app-card  title="Denúncias Abertas" [value]="totalAbertoIncidentes" style="color: rgb(0, 0, 0);"></app-card>
        </ion-col>
        <ion-col size="12" size-lg="3"  size-md="6" size-xs="12">
          <app-card title="Denúncias em Investigação" [value]="totalInvestigacaoIncidentes"
            style="color: black;"></app-card>
        </ion-col>
        <ion-col size="12" size-lg="3"  size-md="6" size-xs="12">
          <app-card title="Denúncias Fechadas" [value]="totalFechadoIncidentes" style="color: black;"></app-card>
        </ion-col>
        <ion-col size="12" size-lg="3"  size-md="6" size-xs="12">
          <app-card title="Total de Incidentes" [value]="totalIncidentes" style="color: black;"></app-card>
        </ion-col>
      </ion-row>
    </ion-grid>

   <!-- Gráficos -->
    <ion-row class="ion-justify-content-start ion-align-items-start">
      <ion-col size="12" size-md="12" size-lg="6">
        <p style="text-align: center;">Número de Incidentes de Bullying por Bloco</p>
        <app-bar-chart [chartData]="barChartData" style="height: 400px; width: 100%;"></app-bar-chart>
      </ion-col>
      <ion-col size="12" size-md="12" size-lg="6">
        <p style="text-align: center;">Distribuição de Incidentes de Bullying por Tipo</p>
        <app-pie-chart [pieData]="pieChartData" style="height: 400px; width: 100%;"></app-pie-chart>
      </ion-col>
      <ion-col size="12" size-md="12" size-lg="6">
        <p style="text-align: center;">Número de Incidentes de Bullying por Tipo ao Longo dos Meses</p>
        <app-line-chart [lineChartData]="lineChartData" style="height: 400px; width: 100%;"></app-line-chart>
      </ion-col>
      <ion-col size="12" size-md="12" size-lg="6">
        <p style="text-align: center;">Quantidade de Incidentes de Bullying por Status da Denúncia</p>
        <app-horizontal-bar-chart [chartData]="stackedBarChartData" style="height: 400px; width: 100%;"></app-horizontal-bar-chart>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>